<header>
        <img src="assets/images/JSS.png">
</header>
<div class = "background">     
    <form #form="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <table>
                    <td><label>Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> </td>
                    <td> {{objDate| date : 'fullDate'}} </td>
                </table>
    
                <table>
                    <td><label>Region &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> </td>
                    <td><input type="text" class="form-control" required name=""> </td>
                </table>
    
                <table>
                    <td><label>Plant &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> </td>
                    <td><input type="text" class="form-control" required name=""> </td>
                </table>
            </div>
    
        <h3><b>Please enter the data for the Previous Month: </b></h3>
        <div class="form-group">
            <table class = table>
                <th class = "tableHeader" colspan=2> Safety Parameters </th>
                <tr>
                    <td><label># of Lost Time Incidents for the month </label> </td>
                    <td><input type="text" class="form-control" required name=""> </td> 
                </tr>
                <tr>
                    <td> <label> Total # of lost time days for the month </label> </td>
                    <td> <input type="text" class="form-control inputSize" required name=""> </td>
                </tr>
                <tr>
                    <td> <label>Total Employees on the first day of the month </label> </td>
                    <td> <input type="text" class="form-control inputSize" required name=""> </td>
                </tr>
                <tr>
                    <td> <label> Total Employees on the last day of the month</label> </td>
                    <td> <input type="text" class="form-control inputSize" required name=""> </td>
                </tr>
            </table>
        </div>
        
        <br>
    
        <div class="form-group">
                <table class = "table">
                    <th class = "tableHeader" > Quality  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                    
                    <tr> <button (click)="toggle('show1')">&nbsp;&nbsp;+ Add a product&nbsp;&nbsp;  </button>  </tr>	  

                    <div *ngIf="show1 === true">
                        <!-- drop downs -->
                            <tr>
                                <td> <label>Customer/Supplier </label> </td>
                                <!-- if customer, show customer names, else supplier names -->
                                <td>
                                    <select class="form-control"  [(ngModel)]="selectedVal"  name="option"  (click)="onRowClick()">
                                        <option *ngFor="let option of options">
                                            {{ option }}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td> <label>Customer/Suppler Name </label> </td>
                                <td>
                                    <select class="form-control">
                                        <option *ngFor="let name of names">
                                            {{ name }}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <div *ngIf="hideable === true">
                                <tr>
                                    <td> <label>Select a Product </label> </td>
                                    <!-- hide if supplier -->
                                    <td>
                                        <select class="form-control">
                                            <option *ngFor="let type of productTypes">
                                                {{ type }}
                                            </option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td> <label> Sub Product </label> </td>
                                    <!-- hide if supplier -->
                                    <td>
                                        <select class="form-control">
                                            <option *ngFor="let type of productTypes">
                                                {{ type }}
                                            </option>
                                        </select>
                                    </td>
                                </tr>
                            </div>
                            <!-- inputs -->
                            <tr>
                                <td> <label> Total Rejected Qty for the month </label> </td>
                                <td> <input type="text" class="form-control inputSize"> </td>
                            </tr>
                            <tr>
                                <td> <label> Shipped Quantity for the month </label> </td>
                                <td> <input type="text" class="form-control inputSize"> </td>
                            </tr>
                            <tr>
                                <td> <label> $ Scrap for the month </label> </td>
                                <td> <input type="text" class="form-control inputSize" required name=""> </td>
                            </tr>
                            <tr>
                                <td> <label> $ Revenue for the month </label> </td>
                                <td> <input type="text" class="form-control inputSize" required name=""> </td>
                            </tr>
                            <tr>
                                <td> <label> $ Total Amount Paid</label> </td>
                                <td> <input type="text" class="form-control inputSize" required name=""> </td>
                            </tr>
                            <tr>
                                <td> <label> # of Compliants </label> </td>
                                <td> <input type="text" class="form-control inputSize" required name=""> </td>
                            </tr>
                            <br/>
                            <button (click)="toggle('show1')">&nbsp;&nbsp;Save&nbsp;&nbsp;  </button>
                            
                        </div>

                <br/>
                <!-- data table -->
                <table class="dataTable">
                        <td>S.no</td>
                        <td>Product</td>
                        <td>Sub Product</td>
                        <td>Customer/Supplier</td>
                        <td>Customer/Supplier Name</td>
                        <td>Total Rejected Qty for the month</td>
                        <td>Total Shipped Quantity for the month</td>
                        <td>$Scrap for the month</td>
                        <td>$Revenue for the month</td>
                        <td># of Complaints</td>
                        <td>Created Date</td>
                        <td>Last Updated Date</td>
                    </table>
                <br/>

                </table>
                
            </div>
    
            <br/>

            <div class="form-group">
                <table class="table">
                    <th class = "tableHeader" colspan=2> Productivity  </th>
                    <tr style="text-align: center;"> <b> On-Time Delivery &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button (click)="toggle('show2')">&nbsp;&nbsp;+ Add a Record&nbsp;&nbsp;  </button> </b> </tr>
                    <div *ngIf="show2 === true"> 
                    <!-- drop downs -->
                    <tr>
                        <td> <label>Select a Product </label> </td>
                        <td>
                            <select class="form-control">
                                <option *ngFor="let type of productTypes">
                                    {{ type }}
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td> <label> Sub Product </label> </td>
                        <td>
                            <select class="form-control">
                                <option *ngFor="let type of productTypes">
                                    {{ type }}
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td> <label>Customer/Supplier </label> </td>
                        <td>
                            <select class="form-control">
                                <option *ngFor="let type of productTypes">
                                    {{ type }}
                                </option>
                            </select>
                        </td>
                    </tr>
                
                        <!-- inputs -->
                    <tr>
                        <td> <label> Qty of conforming products shipped for the month </label> </td>
                        <td> <input type="text" class="form-control inputSize" required name=""> </td>
                    </tr>
                    <div *ngIf="hideable === false">
                            <tr>
                                <!-- only when supplier chosen -->
                                <td> <label> Total Qty of Product Shipped for the month </label> </td>
                                <td> <input type="text" class="form-control inputSize" required name=""> </td>
                            </tr>
                    </div>
                    <button (click)="toggle('show2')">&nbsp;&nbsp;Save&nbsp;&nbsp;  </button>
                    <br/>

                    </div>
                    <br/>
                    <!-- data table -->
                    <table class="dataTable">
                            <td>S.No</td>
                            <td>Product</td>
                            <td>Sub Product</td>
                            <td>Customer/Supplier Name</td>
                            <td>Qty of conforming products shipped for the month</td>
                            <td>Total Qty of Product Shipped for the month</td>
                            <td>Created Date</td>
                            <td>Last Updated Date</td>
                        </table>
                    <br/>
                <tr style="text-align: center;"> <b> Premium Freight  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button (click)="toggle('show3')">&nbsp;&nbsp;+ Add a Record&nbsp;&nbsp;  </button> </b></tr>
                    <div *ngIf="show3 === true">
                        <h4><b> Premium Freight In </b></h4>
                        <tr>
                            <td> <label>Select a Product </label> </td>
                            <td>
                                <select class="form-control">
                                    <option *ngFor="let type of productTypes">
                                        {{ type }}
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td> <label>Supplier Name </label> </td>
                            <td>
                                <select class="form-control">
                                    <option *ngFor="let type of productTypes">
                                        {{ type }}
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td> <label> $ Cost of premium freight In </label> </td>
                            <td> <input type="text" class="form-control inputSize"> </td>
                        </tr>
                        <h4> <b> Premium Freight Out </b></h4>
                        <tr>
                            <td> <label>Select a Product </label> </td>
                            <td>
                                <select class="form-control">
                                    <option *ngFor="let type of productTypes">
                                        {{ type }}
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td> <label>Customer Name </label> </td>
                            <td>
                                <select class="form-control">
                                    <option *ngFor="let type of productTypes">
                                        {{ type }}
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td> <label> $ Cost of premium freight Out </label> </td>
                            <td> <input type="text" class="form-control inputSize"> </td>
                        </tr>
                        <button class = "saveButton" (click)="toggle('show3')">&nbsp;&nbsp;Save&nbsp;&nbsp;  </button>
                    </div>
                
                <br/>
                        <!-- data table -->
                        <table class="dataTable">
                            <td>S.No</td>
                            <td>Product</td>
                            <td>Sub Product</td>
                            <td>Premium Freight In/Out</td>
                            <td>Customer/Supplier Name</td>
                            <td>$ Cost of premium freight for the month</td>
                            <td>$ Revenue for the month</td>
                            <td>Created Date</td>
                            <td>Last Updated Date</td>
                        </table>
                    </table>
                        <br/>
                <!-- inputs -->
                <tr>
                    <td> <label> COGS </label> </td>
                    <td> <input type="text" class="form-control inputSize"> </td>
                </tr>
                <tr>
                    <td> <label> Month end inventory value in local currency </label> </td>
                    <td> <input type="text" class="form-control inputSize"> </td>
                </tr>
                <tr>
                    <td> <label> Previous Month end inventory value in local currency </label> </td>
                    <td> <input type="text" class="form-control inputSize"> </td>
                </tr>
                <br/>
                <button><a href="" [routerLink]="['/review']" class="nav-link" style= "color:white;">&nbsp;&nbsp;Save & Review&nbsp;&nbsp;  </a></button>
            </div>
    </form>
    <br/>
</div>
    
<footer class="footer">
        © 2018 Joyson Safety Systems. All Rights Reserved.
</footer>